{{> header}} 
{{> navbar}}  

    <div class="container" align="center">
    <h1>Salvador Dalí</h1>
    <br><br>
    <p>
        Salvador Felipe Jacinto Dalí i Domènech,​ marqués de Dalí de Púbol (Figueras, 11 de mayo de 1904-ibídem, 23 de enero de 1989), fue un pintor, escultor, grabador, escenógrafo y escritor español del siglo XX. Se le considera uno de los máximos representantes del surrealismo. <br>
        Salvador Dalí es conocido por sus impactantes y oníricas imágenes surrealistas. Sus habilidades pictóricas se suelen atribuir a la influencia y admiración por el arte renacentista. También fue un experto dibujante.​ Los recursos plásticos dalinianos también abordaron el cine, la escultura y la fotografía, lo cual le condujo a numerosas colaboraciones con otros artistas audiovisuales. Tuvo la capacidad de acrisolar un estilo genuinamente personal y palpable al primer contacto, que en realidad era muy ecléctico y que «succionó» de innovaciones ajenas. Una de sus pinturas más célebres es La persistencia de la memoria (también conocida como Los relojes blandos), realizada en 1931. <br>
        Como artista extremadamente imaginativo, manifestó una notable tendencia al narcisismo y la megalomanía, cuyo objeto era atraer la atención pública. Esta conducta irritaba a quienes apreciaban su arte y justificaba a sus críticos, que rechazaban sus conductas excéntricas como un reclamo publicitario ocasionalmente más llamativo que su producción artística.​ Dalí atribuía su «amor por todo lo que es dorado y resulta excesivo, su pasión por el lujo y su amor por la moda oriental» a un autoproclamado «linaje arábigo»,5 que remontaba sus raíces a los tiempos de la dominación árabe de la península ibérica. <br>
    </p>
    <br><br>
    <img src="images/dali.jpg" alt="Salvador Dali" width="300" height="300">
    <br>
    <h3>OBRAS</h3>
    <br><br>
    <img src="images/Sueño_causado.jpg" alt="sueño causado" width="300" height="300">
    <br>
    <p>Sueño causado por el vuelo de una abeja alrededor de una granada un segundo antes de despertar</p>
    <br><br>
    <img src="images/el_gran_masturbador.jpg" alt="el gran masturbador" width="300" height="300">
    <br>
    <p>El gran masturbador</p>
    <br><br>
    <img src="images/el_nacimiento_de_una_divinidad.jpg" alt="el nacimiento de una divinidad" width="300" height="300">
    <br>
    <p>EL nacimiento de una divinidad</p>
    <br><br>
    <img src="images/la_metamorfosis_de_narciso.jpg" alt="la metamorfosis de narciso" width="300" height="300">
    <br>
    <p>La metaorfosis de narciso</p>
    <br><br>
    <img src="images/la_persistencia_de_la_memoria.jpg" alt="la persistencia de la memoria" width="300" height="300">
    <br>
    <p>La persistencia de la memoria</p>
    </div>

    <br><br><br><br><br><br><br> <p>Josbet</p>

{{> footer}}