{{> header}} 
{{> navbar}}  

    <div class="container" align="center">
    <h1>Vincent Van Gogh</h1>
    <br><br>
    <p>Vincent van Gogh se convertiría en uno de los artistas más conocidos del mundo. Sus pinturas han tocado a culturas de todo el mundo, y él se convertío en el arqueotipo de "artista torturado." <br>
        Van Gogh nació en 1853 y creció en Holanda. Fue criado en una familia religiosa con su padre siendo un ministro. Cuando terminó sus estudios, Vincent siguió la profesión de su tío y se convirtió en un comerciante de arte aprendiendo el comercio en Holanda y luego trabajando en Inglaterra y Francia. Vincent tuvo éxito e inicialmente fue contento con su trabajo. Sin embargo, pronto se cansó de la empresa de arte, especialmente en París, y perdió interés en el comercio. <br>
        En 1880, a 27 años de edad, Van Gogh entró en el Académie Royale des Beaux-Arts en Bruselas, Bélgica. El invierno siguiente, viviendo en Amsterdam, Vincent se enamoró, su corazón se había roto, y comenzó a pintar. Los próximos años se traduciría en poco éxito tanto en el amor y el arte. <br>
        Comedores de Patatas de Van Gogh, su primera gran obra, fue pintado en 1885. Por este tiempo, todavía estaba teniendo dificultades para encontrar el amor, pero estaba empezando a recibir intereses en sus pinturas. Ahora se dedica plenamente a la pintura: viviendo ahorrativa, estudiando teoría del color, y admirando las obras de artistas como Peter Paul Rubens. Lamentablemente, como sería su vida entera, sus pinturas eran todavía difíciles vender. Su hermano Theo, un comerciante de arte y el recipiente de muchas cartas de Vincent, comentó que debería haber más color en sus obras. Van Gogh pintaba a campesinos y paisajes rurales usando tonos de la tierra oscuros. Alrededor de este mismo tiempo,Impresionismo, con sus colores vivos y brillantes, se hacía popular. <br>
        Después de tan sólo diez años de pintura y producir unas 900 pinturas, Vincent van Gogh se quitó la vida en 1890. Nunca apreciado en su tiempo, no tendría mucho tiempo para que el mundo del arte a reconocer el genio que perdieron. Veinte años después de su muerte, había espectáculos conmemorativos de sus trabajos por todo el mundo – que influyen en las generaciones de artistas por venir. <br>
    </p>
    <br>
    <img src="images/Van_gogh.jpg" alt="Van Gogh" width="400" height="400">
    <br><br><br>
    <h3>OBRAS</h3>
    <br>
    <img src="images/El_doctor_paul_gachet.jpg" alt="El Doctor Paul Gachet" width="400" height="400">
    <br>
    <p>El Doctor Paul Gachet</p>
    <br><br>
    <img src="images/La_italiana.jpg" alt="La italiana" width="400" height="400">
    <br>
    <p>La Italiana</p>
    <br><br>
    <img src="images/Lirios.jpg" alt="Lirios" width="400" height="400">
    <br>
    <p>Lirios</p>
    <br><br>
    <img src="images/Mujeres_bretonas.jpg" alt="Mujeres Bretonas" width="400" height="400">
    <br>
    <p>Mujeres Bretonas</p>
    <br><br>
    <img src="images/Noche_estrellada.jpg" alt="Noche estrellada" width="400" height="400">
    <br>
    <p>Noche estrellada</p>
    </div>

    <br><br><br><br><br><br> <p>Josbet</p>

{{> footer}}