{{> header}} 
{{> navbar}}  

    <div class="container" align="center">
    <h1>Monet</h1>
    <br><br>
    <p>
        Claude Monet, es un famosos pintor frances, conocido por ser uno de los fundadores del Impresionismo y por las series de obras en las que pintaba un mismo motivo repetidamente captando las diferencias de luz y atmosféricas según la hora o el día del año. De entra estas series, la más popular es la de pinturas de nenúfares. <br>
        Claude Monet, al igual que otros impresionistas que además eran amigos y compañeros, como Renoir, Pissarro o Cézanne, tuvo una larga vida que no siempre fue fácil. De familia de comerciantes, los intereses artísticos de Monet nacieron en la escuela y en sus primeros años se centraban en las caricaturas. <br>
        A los 15 años tenía ya fama y de esta manera consiguió ganar bastante dinero vendiéndo sus dibujos a los vecinos de Le Havré. localidad a la que se había trasladado con sus padres debido a los problemas económicos que atravesaba la familia. <br>
        En 1873 se funda la “Sociedad Anónima Cooperativa de Artistas, pintores, escultores, grabadores” que él mismo lidera y que pretende alejarse del “Salón” y que en 1874 presenta a Pissarro, Boudin, Gautier, Cézanne, Sisley y Renoir, entre otros. <br>
        Una exposición con 18 de sus obras, individual, le proporciona ventas y éxito de crítica. Se trasladan a la costa normanda donde son los acantilados los protagonistas de su obra. Otra exposición individual, de 56 cuadros, le reporta buena crítica pero pocos ingresos. <br>
    </p>
    <br>
    <img src="images/monet.jpg" alt="Claude Monet" width="300" height="300">
    <br><br>
    <h3>OBRAS</h3>
    <br><br>
    <img src="images/Camile_monet.jpg" alt="Camile monet" width="300" height="300">
    <br>
    <p>Camile Monet</p>
    <br><br>
    <img src="images/catedralde_ruan.jpg" alt="Catedralran" width="300" height="300">
    <br>
    <p>Catedral de Ruan</p>
    <br><br>
    <img src="images/el_parlamento_de_londres.jpg" alt="PArlamento londres" width="300" height="300">
    <br>
    <p>El parlamento de Londres</p>
    <br><br>
    <img src="images/impresion_sol_naciente.jpg" alt="sol naciente" width="300" height="300">
    <br>
    <p>Impresion de Sol Naciente</p>
    <br><br>
    <img src="images/La_promenade.jpg" alt="Promenade" width="300" height="300">
    <br>
    <p>La promenade</p>
    </div>

    <br><br><br><br><br><br> <p>Josbet</p>


{{> footer}}