{{> header}} 
{{> navbar}}  

    <div class="container" align="center">
    <h1>Pablo Ruiz Picasso</h1>
    <br><br>
    <p>Pablo Picasso es, sin lugar a dudas, uno de los artistas plásticos más famosos del mundo. Su obra trasciende todo tipo de fronteras y de clasificaciones; tan vasta y diversificada como única, supuso un antes y un después en la producción artística a nivel mundial. Polémico, controvertido, con un talento sin límites y una insaciable necesidad de crear, su frase más conocida refleja fielmente su personalidad: “cuando llegue la inspiración, que me encuentre trabajando”. El arte de Picasso es multiforme y cambiante; el artista se nutrió del pasado y del presente para crear sus obras, anticipando lo que vendría años e incluso décadas después. Porque el arte contemporáneo jamás sería lo que hoy es sin la influencia de Pablo Picasso: un artista que pasó por su época como un tren sin frenos, arrollando las fronteras del arte del siglo XX y abriendo nuevos e insospechados caminos creativos. <br>
        En el invierno de 1895 realizó su primer gran lienzo académico, La primera comunión (Museo Picasso, Barcelona),​ en Barcelona, ciudad en la que residió unos nueve años, salvo algunas vacaciones de verano y estancias más o menos largas en Madrid y París.1 En 1897 presentó el lienzo Ciencia y caridad (Museo Picasso, Barcelona) en la Exposición General de Bellas Artes de Madrid.​ Durante el verano pasó, una vez más, sus vacaciones en Málaga, donde pintó paisajes y corridas de toros. <br>
        En septiembre, marchó a Madrid para iniciar estudios en la Academia de San Fernando,21​ pero pronto abandonó la Academia: la atmósfera intelectual de la capital, impermeable al modernismo catalán que Picasso intentaba introducir (fundó una pequeña revista en 1901, Arte Joven, que tuvo una existencia bastante breve) no le convencía. No obstante, aprovechó sus frecuentes visitas al Museo del Prado para conocer mejor la obra del Greco, que era vindicada por artistas y estudiosos de finales del siglo xix. <br>
        Desde 1898 firmó sus obras como «Pablo Ruiz Picasso», luego como «Pablo R. Picasso», y sólo como «Picasso» desde 1901. El cambio no parece implicar un rechazo de la figura paterna; antes bien obedecía al deseo de Picasso de distinguirse como personaje, iniciado por sus amigos catalanes, que tomaron la costumbre de llamarlo por el apellido materno, mucho menos corriente que el Ruiz paterno <br>
    </p>
    <br>
    <img src="images/picasso.jpg" alt="Picasso" width="300" height="300">
    <br><br><br>
    <h3>OBRAS</h3>
    <br>
    <img src="images/El_sueño.jpg" alt="El sueño" width="300" height="300">
    <br>
    <p>El sueño</p>
    <br><br>
    <img src="images/Guernica.jpg" alt="Guernica" width="300" height="300">
    <br>
    <p>Guernica</p>
    <br><br>
    <img src="images/La_mujer_que_llora.jpg" alt="La mujer que llora" width="300" height="300">
    <br>
    <p>La mujer que llora</p>
    <br><br>
    <img src="images/La_vie.jpg" alt="La Vie" width="300" height="300">
    <br>
    <p>La Vie</p>
    <br><br>
    <img src="images/Las_Señoritas_De_Avignon.jpg" alt="Las señoritas de avignon" width="300" height="300">
    <br>
    <p>Las señoritas de Avignon</p>
    </div>

    <br><br><br><br><br><br> <p>Josbet </p>

{{> footer}}